.gradle
gradle
build
_build
tools
.classpath
.project
.settings
bin
*.iml
*.ipr
*.iws
out/
.idea/
/nbproject/private/
/nbbuild/
/dist/
nbproject
private
.nb-gradle/
.DS_Store
/_lib
/gradlew_release.cmd
/gradle_localOverride.cmd
/gradlew_updateWrapper.cmd
/gradlew_repairHeaders.cmd

