create({{name}}:Project{name:'{{name}}', version:'{{version}}'}) 
{{#technologies}}
MATCH ({{../name}}:Project {name:'{{../name}}'}), ({{name}}:Technology {name:'{{name}}'}) CREATE (p)-[:USES]->(t) 
{{/technologies}}