create({{name}}:Project{name:'{{name}}', version:'{{version}}'}) 
{{#technologies}}
WITH {{../name}}, {{name}} MATCH (p:Project {name:'{{../name}}'}) CREATE ({{../name}})-[:USES]->({{name}}) 
{{/technologies}}