root { 
    display: block;
}

.root {
    -fx-background-color: #ffffff;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.iphone-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}

#glassPane {
    -fx-cursor: wait;
    -fx-background-color: rgba(204,255,153,0.3);
}

.ui-icon-plus {
    -fx-background-image: url("images/plus.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;   
}

.ui-icon-trash {
    -fx-background-image: url("images/trash.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left; 
}
